#header 
{
background-image: url("../images/header_img.png");
height: 400px;
width: auto;
}

#profile_img 
{ 
background: url("../images/profile_img.png") repeat;
width: 195px;
height: 185px;
position: absolute;
margin-left: 200px;
margin-top: 70px;
border-radius: 80px;
border : solid rgb(247, 243, 243);
}

#header h2 {
margin-left: 650px;
margin-top: 70px;
color: rgb(66, 32, 32);
position: absolute;
font-family: 'Bebas Neue', cursive;
letter-spacing: 3px; 
font-size: 80px;   
}
#header h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    position: absolute;
    margin-top: 170px;
    margin-left: 680px;
    color: rgb(46, 121, 206);
    
    }
#header nav {
    position: absolute;
    margin-top : 300px ;
    margin-left: 450px;
    border-top: solid rgb(238, 211, 211) ;
    border-bottom-style:inset;
    border-bottom-width: 1px;
    border-bottom-color: rgb(238, 211, 211);
}
#header nav a{
    color:rgb(105, 72, 72);
}

#header nav a:hover {
color:#84b3be;
}